### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#Read csv data into primary dataframe
df = pd.DataFrame(purchase_data)

#Calculate and print total number of unique players 
ttlPlayers = df['SN'].nunique()
print(f'The total number of players is: {ttlPlayers}')

The total number of players is: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Caclulate number of unique items
ttlItems = df['Item ID'].nunique()

# Calculate average price
avgPrice = df['Price'].mean()

#Calculate total number of purchases
ttlPurchases = df['Purchase ID'].count()

#Calculate total revenue
ttlRevenue = df['Price'].sum()

#Combine general purchasing analysis components into a dataframe 
purAnalysis = pd.DataFrame({'Number of Unique Items': [ttlItems], 'Average Price': [avgPrice], 
                            'Number of Purchases': [ttlPurchases], 'Total Revenue': [ttlRevenue]})

#Dataframe styling 
purAnalysis.style.format({'Average Price': "${:.2f}", 'Total Revenue': "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Construct dataframe of each player with gender and drop duplicates of each player:gender record
players = df[['SN','Gender','Age']].drop_duplicates()

#Extract total gender count by gender from above dataframe
gndrCount = players['Gender'].value_counts()

#Calculate decimal percentage for each gender
gndrPct = (gndrCount/ttlPlayers)

#Build dataframe with gender counts and percentages
gndrDemo = pd.DataFrame({'Total Count': gndrCount, 'Percentage of Players': gndrPct})

#Dataframe styling and formating
gndrDemo.style.format({'Percentage of Players' : "{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Group dataframe by gender and count records by gender
countBygender = df.groupby(['Gender']).count()

#Assign gender grouped purchase count to a variable
purchaseCountbyGender = countBygender['Purchase ID']

#Group dataframe by gender and calculate average purchase price by gender
avgBygender = df.groupby(['Gender']).mean()

#Assign gender grouped price to a variable
avgPricebyGender = avgBygender['Price']

#Group dataframe by gender and calcluate total purchase value by gender
ttlByGender = df.groupby(['Gender']).sum()

#Assign gender grouped total purchase value to a variable
ttlPricebyGender = ttlByGender['Price']

#Average total purchase per person and assign to a variable
avgTtlperPerson = ttlPricebyGender/gndrCount
 
#Build dataframe with gender grouped calculations
purAnalysisbyGender = pd.DataFrame({'Purchase Count': purchaseCountbyGender,
                                   'Average Purchase Price': avgPricebyGender,
                                   'Total Purchase Value': ttlPricebyGender,
                                   'Average Total Purchase Per Person': avgTtlperPerson})

#Dataframe styling and formatting
purAnalysisbyGender.style.format({'Average Purchase Price': "${:.2f}", 'Total Purchase Value': "${:,.2f}",
                                 'Average Total Purchase Per Person': "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#Assign bin labels to a variable
ageLabels = ['<10', '10-14', '15-19','20-24','25-29','30-34','35-39','40+']

#Assign bins to a variable
ageBins = [0,9,14,19,24,29,34,39,100]

#Generate and add "Age Bins" column to data frame
players['Age Bins'] = pd.cut(players['Age'], bins=ageBins, labels=ageLabels)

#Generate total players by age bin series
ttlAgecount = players['Age Bins'].value_counts(sort=False)

#Generate decimal percentage total players by age bin series
pctAgeCount = ttlAgecount/ttlPlayers

#Construct dataframe with total players and percentage by age bin
ageDemo_df = pd.DataFrame({'Total Count': ttlAgecount, 'Percentage of Players': pctAgeCount})

#Dataframe styling and formatting 
ageDemo_df.style.format({'Percentage of Players' : "{:.2%}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Assign bin labels to a variable
ageLabels = ['<10', '10-14', '15-19','20-24','25-29','30-34','35-39','40+']

#Assign bins to a variable
ageBins = [0,9,14,19,24,29,34,39,100]

#Generate and add "Age Bins" column to data frame
df['Age Bins'] = pd.cut(df['Age'], bins=ageBins, labels=ageLabels)

#Generate number of purchases by age bin series
purchaseCountbyAge = df.groupby(['Age Bins'])['Purchase ID'].count()

#Generate average purchase price by age bin series
averagePricebyAge = df.groupby(['Age Bins'])['Price'].mean()

#Generate total revenue by age bin series
ttlRevenuebyAge = df.groupby(['Age Bins'])['Price'].sum()

#Generate average total purchase per person by age bin
avgRevperPersonbyAge = ttlRevenuebyAge/ttlAgecount

#Construct purchase analysis by age data frame
agePurch_df = pd.DataFrame({'Purchase Count':purchaseCountbyAge,'Average Purchase Price':averagePricebyAge,
                            'Total Purchase Value':ttlRevenuebyAge,'Avg Total Purchase Per Person':avgRevperPersonbyAge})

#Dataframe styling and formatting
agePurch_df.style.format({'Average Purchase Price': "${:.2f}", 'Total Purchase Value': "${:,.2f}",
                                 'Avg Total Purchase Per Person': "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#Purchase count by screen name to a variable
purchCountbySN = df.groupby(['SN'])['Purchase ID'].count()

#Average purchase price by screen to a variable
avgPurchbySN = df.groupby(['SN'])['Price'].mean()

#Total purchased value by screen name to a variable
ttlPurchbySN = df.groupby(['SN'])['Price'].sum()

#Construct top spenders dataframe and sort on total purchased value descending
topSpenders = pd.DataFrame({'Purchase Count': purchCountbySN,'Average Purchase Price':avgPurchbySN,
                           'Total Purchase Value':ttlPurchbySN}).sort_values('Total Purchase Value',
                                                                            ascending=False)
#Pull top 5 rows into dataframe for clean up and display
topFiveSpenders = topSpenders.iloc[:5]

#Dataframe styling and fromatting
topFiveSpenders.style.format({'Average Purchase Price': "${:.2f}", 'Total Purchase Value': "${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#Purchase count series by item id and item name
itemCountbyID = df.groupby(['Item ID', 'Item Name'])['Purchase ID'].count()

#Assign item price by item id and item name to a series variable
itemPrice = df.groupby(['Item ID', 'Item Name'])['Price'].mean()

#Assing total purchase value by item id and item name to a series variable
itemTotal = df.groupby(['Item ID', 'Item Name'])['Price'].sum()

#Construct most popular items dataframe sorted on purchase count descending
popItems = pd.DataFrame({'Purchase Count':itemCountbyID,'Item Price':itemPrice,
                         'Total Purchase Value':itemTotal}).sort_values('Purchase Count',ascending=False)
#Pull top 5 rows into dataframe for clean up and display
topPopItems = popItems.iloc[:5]

#Dataframe styling and fromatting
topPopItems.style.format({'Item Price': "${:.2f}", 'Total Purchase Value': "${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#Construct most popular items dataframe sorted on total purchase value descending
profItems = pd.DataFrame({'Purchase Count':itemCountbyID,'Item Price':itemPrice,
                         'Total Purchase Value':itemTotal}).sort_values('Total Purchase Value',
                                                                        ascending=False)
#Pull top 5 rows into dataframe for clean up and display
topProfItems = profItems.iloc[:5]

#Dataframe styling and fromatting
topProfItems.style.format({'Item Price': "${:.2f}", 'Total Purchase Value': "${:,.2f}"})

# Observable Trends

* A majority of our players and subsequently revenue generation is from the 20-29 age demo
    * Maintain general marketing level (age 20-29)
    * Push popular items
---
---
* Mid-Career professionals (age demo 35-39) are spending more per item
    * Marketing growth target demographic (age 35-39)
    * Push popular items
---
---
* A majority of our players are male and thus the primary revenue generation demographic
    * Maintain general marketing level (Male)
    * Marketing growth target (Female Demographic) / Higher spend per item
    * Push popular items